.header-container::before {
	height: 40px;
	width: 100%;
	content: '';
	display: block;
	position: absolute;
	top: 145px;
	z-index: 3;
	border-top: 3px dashed $darkpink;
	background: asset-url('lace.png');
}