body {
	background-color: #EA8BB3;
	background-image: url('https://lh4.googleusercontent.com/ZXy5GOoObI3HrOIo3stPGZF8gG25pdVzlzyBqzdJYJHsflGrYqxvVnmCDvtNipBDpxlaMW0APDkZmEI=w2522-h1472');
	padding: 5px;
	margin: 0;
}

