body {
	background-color: $standardpink;
	background-image: asset-url('bg.png');
	margin: 0;
	height: 100vh;
	font-family: Arial;
}

.middle-content {
	display: table;
	width: 100%;
	min-height: calc(100% - 150px);

	.content { display: table-cell; }
	.left-sidebar { display: table-cell; }
	.right-sidebar { display: table-cell; }
}

.content {
	background-color: $whitepink;
	border-left: 2px solid $darkpink;
	border-right: 2px solid $darkpink;
	width: 60%;
	min-width: 270px;
	max-width: 800px;
	padding: 0 20px;
	padding-top: 50px;
}


