body {
	background-color: $standardpink;
	background-image: url('https://drive.google.com/uc?id=0B_DzI16TvTR2V2M4cFR2VktrMWM');
	margin: 0;
	height: 100vh;
}

.middle-content {
	display: table;
	width: 100%;
	min-height: calc(100% - 200px);

	.content { display: table-cell; }
	.left-sidebar { display: table-cell; }
	.right-sidebar { display: table-cell; }
}

.content {
	background-color: $whitepink;
	width: 60%;
	min-width: 300px;
	max-width: 800px;
	padding: 10px;
}

.header-container {
	width: 100%;
	height: 200px;
	background-color: $darkpink;
}

.header {
	margin: 0 auto;
	width: 800px;
	display: table;

	.header__logo {
		height: 180px;
		width: 180px;
		margin: 10px;
		background-color: white;
		float: left;
	}

	.header__name {
		-webkit-text-stroke: 1px white;
		color: $hotpink;
		font-weight: bold;
		font-size: 5em;
	}

	.header__subtext {
		color: $whitepink;
		font-size: 2em;
		font-weight: bold;
	}
}

