<div class="header">
	<div class="header__logo">µ's</div>
	<img src=<%= image_path("logo.png")%> class="header__logo__icon" />
	<div class="header__text">
		<div class="header__text__name">
			Sunshine µsic
		</div>
		<div class="header__text__subtext">
			a Love Live! dance cover group
		</div>
	</div>
</div>