<div class="nav-bar">
	<%= render "layouts/nav_bar_links" %>
</div>

<div class="nav-bar-mobile">
	<div class="nav-bar-mobile__menu">MENU</div>
	<div class="nav-bar-mobile__toggle">&#9776;</div>
	<div class="nav-bar-mobile__links">
		<%= render "layouts/nav_bar_links" %>	
	</div>
</div>

