<a href="#" class="nav-bar__link">HOME</a>
<a href="#" class="nav-bar__link">NEWS</a>
<a href="#" class="nav-bar__link">EVENTS</a>
<a href="#" class="nav-bar__link">MEMBERS</a>
<a href="#" class="nav-bar__link">GALLERY</a>	
<a href="#" class="nav-bar__link">VIDEOS</a>	
<a href="#" class="nav-bar__link">CONTACT US</a>	